*{
    padding: 0px;
    margin: 0;
    
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./pexels-photo-614974.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.ul-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

    background-color: black;

    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
}
.ul-bar{
    justify-content: flex-start;

}

.ul-bar li a {
    text-decoration: none;
    color: white;
}

.ul-bar li{
    list-style: none;
    padding-left: 30px;
}

input{
    background-color: white;
    border: none;

    position: absolute;
    display: flex;

    top: 13px;
    right: 10px;
}
input{
    width: 50%;
    
    padding-bottom: 19px;
    padding-top: 19px;
    padding-left: 30px;

}
input{
    font-size: 17px;
    color: black;

}

.bx-search{
    position: absolute;

    top: 13px;
    right: 10px;
}
.bx-search{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-top: 14px;


    border: 1px solid black;
    font-size: 20px;

}
