

.flexcontainer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.flex-item{
    flex: 0 1 auto;
}
.flex-item{
    background-color: red;

    width: 300px;
    height: 200px;

}