#principal{
    background-color: blue;

    width: 600px;
    height: 700px;

    position : relative;

}
#texto{
    background-color: green;

    width: 300px;
    height: 300px;

    position: absolute;
    right: 0;
}
#texto{
    background-color: red;

    width: 300px;
    height: 300px;

    position: fixed;

}